Django==1.7.1
MySQL-python==1.2.5
django-overextends==0.3.2
django-recaptcha==1.0.2
django-solo==1.1.0
gunicorn==19.1.1
-e git+https://github.com/jonge-democraten/janeus@4d9597d9fde0f99358da7cdf3cadc8f8a88fb0b9#egg=janeus-master
python-ldap==2.4.18
wsgiref==0.1.2
