{% extends 'zues/base.html' %}
{% block title %}Jonge Democraten Congresvoorbereiding{% endblock %}
{% block content %}
<h1>Amendement op het Politieke Programma</h1>

<h3>Bindende aanwijzingen</h3>
<ul>
<li>Een amendement op het Politieke Programma is een voorstel tot wijziging van het Politieke Programma. Afkorting: AMPP.</li>
<li>Een amendement op het Politieke Programma kan ten hoogste betrekking hebben op één alinea.</li>
<li>Amendementen die op hetzelfde betrekking hebben, worden geclusterd.</li>
<li>AMPP's die niet aan de criteria (o.a. deadlines en verkeerd format) voldoen, worden niet aan de ALV voorgelegd. Wanneer dit het geval is wordt dit gemeld aan de indiener.</li>
</ul>

<h3>Niet-bindende aanwijzingen</h3>
<ul>
<li>&quot;JD&quot; is vrouwelijk enkelvoud.</li>
<li>&quot;Jonge Democraten&quot; is meervoud.</li>
<li>Amendementen worden in derde persoon geschreven (dus: &quot;De JD vindt&quot;, i.t.t. &quot;wij vinden&quot;).</li>
<li>Het Politieke Programma maakt gebruik van subkopjes. Kop 1 (hoofdstukken), kop 2 (paragrafen) en kop 3 (subparagrafen) komen in de inhoudsopgave.</li>
<li>Wanneer een amendement wordt ingediend door een afdeling of een ander orgaan dient deze ondertekend te worden voor de voorzitter en secretaris van de afdeling/orgaan.</li>
</ul>

{% if obj %}

<h3>Voorbeeld</h3>
{{ obj.as_html_table }}
<div><p>Als het bovenstaande voorbeeld correct is, klik dan op Verzenden. Zo niet, ga dan terug naar de vorige pagina en breng verbeteringen aan.</p></div>
<form action="" method="post">{% csrf_token %}
{% for field in form %}{{ field.as_hidden }}
{% endfor %}
<input type="hidden" name="preview" value="1" />
<button class="button" type="button" onClick="history.back(1); event.stopPropagation();">Terug</button>
<button class="button" type="submit">Verzenden</button>
</form>

{% else %}

<div class="jdform">
<h3>Formulier</h3>
<form action="" method="post">{% csrf_token %}
<fieldset>
<div><p>Gebruik het veld Betreft om hoofdstuk, paginanummer en regelnummers aan te geven. Als je type Wijzigen (voor het vervangen van teksten) gebruikt, vul dan beide tekstvelden in!</p></div>
{{ form.non_field_errors }}
{% for f in form.visible_fields %}
<div class="row">
<div class="cell">
{{ f.label_tag }}
</div>
<div class="cell">
{% if f.errors %}
<span class="errors">{{ f.errors.as_text }}</span>
{% endif %}
{{ f }}
</div>
</div>
{% endfor %}
<div class="row">
<div class="cell">&nbsp;</div>
<div class="cell">
<button class="button" type="button" onClick="history.back(1); event.stopPropagation();">Terug</button>
{% if edit %}
<button class="button" type="submit">Wijzigen</button>
{% else %}
<button class="button" type="submit">Voorbeeld</button>
{% endif %}
</div>
</div>
</fieldset>
</form>
</div>

{% endif %}

{% endblock %} 
