{% extends 'zues/base.html' %}
{% block title %}{{ resolutie.titel }} - Jonge Democraten Voorstelsysteem{% endblock %}
{% block content %}
<h1>Amendement op resolutie</h1>

<h3>Amendement op resolutie</h3>

{{ voorstel.as_html }}

{% if lid %}

<p><a href="{% url 'zues:wijzigamres' pk=voorstel.pk %}">Wijzigen</a></p>
<p><a href="{% url 'zues:verwijderamres' pk=voorstel.pk %}">Verwijderen</a></p>

<p>Dit Amendement op resolutie is voor iedereen te zien via <a href="{{ voorstel.get_absolute_url }}">deze link</a>.</p>

{% endif %}

{% endblock %} 
