{% extends 'zues/base.html' %}
{% block terugnaarbegin %}{% endblock %}
{% block content %}
<p>&nbsp;</p>

{% for m in pm %}
{{ m.as_html_table }}
<p>&nbsp;</p>
{% endfor %}

{% for m in apm %}
{{ m.as_html_table }}
<p>&nbsp;</p>
{% endfor %}

{% for m in org %}
{{ m.as_html_table }}
<p>&nbsp;</p>
{% endfor %}

{% for m in res %}
{{ m.as_html_table }}
<p>&nbsp;</p>
{% endfor %}

{% for m in amres %}
{{ m.as_html_table }}
<p>&nbsp;</p>
{% endfor %}

{% for m in ampp %}
{{ m.as_html_table }}
<p>&nbsp;</p>
{% endfor %}

{% endblock %} 
