{% extends 'zues/base.html' %}
{% block content %}
<h1>HR-wijziging</h1>

{{ voorstel.as_html_table }}

{% if lid %}
{% if mag %}
<button class='jdbutton' onclick="location.href='{% url 'zues:wijzighr' pk=voorstel.pk %}';">Wijzigen</button>
<button class='jdbutton' onclick="location.href='{% url 'zues:verwijderhr' pk=voorstel.pk %}';">Intrekken</button>
{% endif %}
<p>Deze HR-wijziging is voor iedereen te zien via <a href="{{ voorstel.get_absolute_url }}">deze link</a>.</p>
{% endif %}

{% endblock %} 
