{% extends 'zues/base.html' %}
{% block mededeling%}{% endblock %}
{% block terugnaarbegin %}{% endblock %}
{% block content %}
<h1>Lidnummer opvragen</h1>

<form action="" method="post">{% csrf_token %}
<fieldset>
<div><p>Vul hieronder het e-mailadres in dat bij de Jonge Democraten bekend is. Je krijgt vervolgens een e-mail op dit adres met je lidnummer. Dit kun je gebruiken om toegang te krijgen tot het systeem.</p></div>
{{ form.non_field_errors }}
{% for f in form.visible_fields %}
<div class="row">
<div class="cell">
{{ f.label_tag }}
</div>
<div class="cell">
{% if f.errors %}
<span class="errors">{{ f.errors.as_text }}</span>
{% endif %}
{{ f }}
</div>
</div>
{% endfor %}
<div style="margin-top: 4px;">
<button class="button" type="submit">Opvragen</button>
</div>
</fieldset>
</form>
</div>

{% endblock %} 
