{% extends 'zues/base.html' %}
{% block content %}
<h1>Organimo</h1>

{{ voorstel.as_html_table }}

{% if lid %}
{% if mag %}
<button class='jdbutton' onclick="location.href='{% url 'zues:wijzigorg' pk=voorstel.pk %}';">Wijzigen</button>
<button class='jdbutton' onclick="location.href='{% url 'zues:verwijderorg' pk=voorstel.pk %}';">Intrekken</button>
{% endif %}
<p>Deze Organimo is voor iedereen te zien via <a href="{{ voorstel.get_absolute_url }}">deze link</a>.</p>
{% endif %}

{% endblock %} 
