{% extends 'zues/base.html' %}
{% block title %}{{ motie.titel }} - Jonge Democraten Voorstelsysteem{% endblock %}
{% block content %}
<h1>Politieke Motie</h1>

<h3>Motie</h3>

{{ motie.as_html }}

{% if lid %}

{% if mag %}
<p><a href="{% url 'zues:wijzigpm' pk=motie.pk %}">Wijzigen</a></p>
<p><a href="{% url 'zues:verwijderpm' pk=motie.pk %}">Verwijderen</a></p>
{% endif %}

<p>Deze Politieke Motie is voor iedereen te zien via <a href="{{ motie.get_absolute_url }}">deze link</a>.</p>

{% endif %}

{% endblock %} 
