{% extends 'zues/base.html' %}
{% load staticfiles %}
{% block head %}
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static 'zues/js/jquery-sortable-min.js' %}"></script>
<style>
    body.dragging, body.dragging * {
        cursor: move !important;
    }
    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }
    .cat .button {
        background:url('{% static 'zues/images/plusminus.png' %}') no-repeat top left;
        background-position-y: -20px;
        display: inline-block;
        position: relative;
        top: -2px;
        height: 20px;
        width: 20px;
        padding-right: 4px;
        cursor: pointer;
    }
    .cat .minibutton {
        background:url('{% static 'zues/images/plusminus.png' %}') no-repeat top left;
        /*background-position-y: -10px;*/
        background-size: 75%;
        display: inline-block;
        /*position: relative;
        top: 0px;*/
        height: 15px;
        width: 20px;
        cursor: pointer;
    }
    .cat {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid black;
    }
    .cat .title {
        font-size: 20px;
        cursor: move;
    }
    .sortable {
        margin: 0 0 9px 0;
        min-height: 20px;
        padding: 0;
    }
    .sortable li {
        list-style: none;
        cursor: move;
    }
    .sortable li.placeholder {
        display: block;
        position: relative;
    }
    .sortable li.placeholder:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        margin-top: -5px;
        left: -5px;
        top: -4px;
        border: 5px solid transparent;
        border-left-color: red;
        border-right: none;
    }
    #cats > li {
        margin: 16px 0;
    }
</style>
{% endblock %}
{% block terugnaarbegin %}{% endblock %}
{% block mededeling %}{% endblock %}
{% block content %}
<p>&nbsp;</p>

<span style="display: block;">
<button class='jdbutton' id="toevoegen" style='width: 200px'>Categorie toevoegen</button>
&nbsp;
<button class='jdbutton' id="opslaan" style='width: 100px'>Opslaan</button>
</span>

<ul id="cats" class="sortable">
{% for l in categories %}
<li>
<div class="cat">
<div class="title"><span class="button">&nbsp;</span><span style="display:inline-block; width: 150px">{{ l.prefix }}</span><span>{{ l.titel }}</span></div>
<ul class="sortable">
{% for m in l.items %}
<li>{{ m.as_html_table }}</li>
{% endfor %}
</ul>
</div>
</li>
{% endfor %}
</ul>

<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

var reorderPage = {
    
    init: function() {
        reorderPage.setup();
    },

    setup: function() {
        $('#opslaan').click(reorderPage.onOpslaan);
        $('#toevoegen').click(reorderPage.onToevoegen);
        reorderPage.setupCats();
        $('.cat').each(reorderPage.setupCat);
        $('.cat table').each(reorderPage.setupVoorstel);
        reorderPage.reorderAll();
    },

    gather_data: function(callback) {
        var cats = [];
        $('.cat').each(function(i, v) {
            var prefix = $(v).find('.title span:nth-child(2)').text();
            var titel = $(v).find('.title span:nth-child(3)').text();
            var items = [];
            $(v).find('table').each(function(i, v) {
                var splitClassName = v.className.split(/\s+/);
                for (var j in splitClassName) {
                    var className = splitClassName[j];
                    if (className.indexOf('pk-')===0) {
                        pk = className.substr(3);
                        items.push(pk);
                    }
                }
            });
            cats.push({idx: i, prefix: prefix, titel: titel, items: items});
        });
        return cats;
    },

    gather_pks: function(callback) {
        var pks = [];
        $('.cat table').each(function(i, v) {
            var splitClassName = v.className.split(/\s+/);
            for (var j in splitClassName) {
                var className = splitClassName[j];
                if (className.indexOf('pk-')===0) {
                    pk = className.substr(3);
                    if (-1 === pks.indexOf(pk)) pks.push(pk);
                }
            }
        });
        if ('function' === typeof callback) {
            for (var i in pks) callback(pks[i]);
        }
        return pks;
    },

    onOpslaan: function(event) {
        var data = JSON.stringify(reorderPage.gather_data());
        $.post("{% url 'zues:reorder' %}", data);
    },

    pad: function(str, max) {
        str = str.toString();
        return str.length < max ? reorderPage.pad("0"+str, max) : str;
    },

    reorderCat: function() {
        var txt = $('.title span:nth-child(2)', this).text();
        var c = $('table tr:first-child td:first-child span:nth-child(2)', this);
        if (c.length == 1) c.text(txt);
        else c.each(function (i) { $(this).text(txt+reorderPage.pad(i+1,2)); });
    },

    reorderAll: function() {
        $('.cat').each(reorderPage.reorderCat);
    },

    addCat: function(cat, titel) {
        var str = '<li><div class="cat"><div class="title"><span class="button">&nbsp;</span><span style="display:inline-block; width: 150px;">'+cat+'</span><span>'+titel+'</span></div><ul class="sortable"></ul></div></li>'
        var item = $($.parseHTML(str)).appendTo($('#cats'));
        reorderPage.setupCat(item);
    },

    onToevoegen: function(event) {
        var prefix = prompt('Geef een nieuwe (unieke) prefix:');
        if (prefix === null) return;
        var titel = prompt('Geef een titel voor categorie "'+prefix+'":');
        if (titel === null) return;
        reorderPage.addCat(prefix, titel);
    },

    setupCats: function() {
        // maak sortable
        $('#cats').sortable({
            group: 'cats',
            pullPlaceholder: false,
            // animation on drop
            onDrop: function  (item, targetContainer, _super) {
                var clonedItem = $('<li/>').css({height: 0})
                item.before(clonedItem)
                clonedItem.animate({'height': item.height()})

                item.animate(clonedItem.position(), function  () {
                    clonedItem.detach()
                    _super(item)
                })
            },
            // set item relative to cursor position
            onDragStart: function ($item, container, _super) {
                var offset = $item.offset(),
                pointer = container.rootGroup.pointer
                adjustment = {
                    left: pointer.left - offset.left,
                    top: pointer.top - offset.top
                }
                _super($item, container)
            },
            onDrag: function ($item, position) {
                $item.css({left: position.left - adjustment.left,
                           top: position.top - adjustment.top})
                // autoscroll
                var top = $(window).scrollTop();
                var bottom = top + $(window).innerHeight();
                if (position.top > bottom - 100) {
                    $(window).scrollTop(top+20);
                } else if (position.top < top + 100) {
                    $(window).scrollTop(top-20);
                }
            },
        });
    },

    onToggleCat: function(event) {
        var y = -20 - parseInt($(this).css('background-position-y'));
        $(this).css({backgroundPositionY: ''+y+'px'});
        $(this).closest('.cat').children("ul").toggle();
    },

    setupCat: function(i, v) {
        // +/- knopje van categorie
        $('.title .button', v).click(reorderPage.onToggleCat);

        // maak sortable
        $('.sortable', v).sortable({
            group: 'sortable',
            nested: false,
            pullPlaceholder: false,
            // animation on drop
            onDrop: function  (item, targetContainer, _super) {
                var clonedItem = $('<li/>').css({height: 0})
                item.before(clonedItem)
                clonedItem.animate({'height': item.height()})
                item.animate(clonedItem.position(), function  () {
                    clonedItem.detach()
                    _super(item)
                })
                // reorder on drop
                reorderPage.reorderAll();
                $('#cats').sortable('enable')
            },
            // set item relative to cursor position
            onDragStart: function ($item, container, _super) {
                var offset = $item.offset(),
                pointer = container.rootGroup.pointer
                adjustment = {
                    left: pointer.left - offset.left,
                    top: pointer.top - offset.top
                }
                $('#cats').sortable('disable')
                _super($item, container)
            },
            onDrag: function ($item, position) {
                $item.css({left: position.left - adjustment.left,
                           top: position.top - adjustment.top})
                // autoscroll
                var top = $(window).scrollTop();
                var bottom = top + $(window).innerHeight();
                if (position.top > bottom - 100) {
                    $(window).scrollTop(top+20);
                } else if (position.top < top + 100) {
                    $(window).scrollTop(top-20);
                }
            },
        });
    },

    onToggleVoorstel: function(event) {
        // toggle icon
        var y = -15 - parseInt($(this).css('background-position-y'));
        $(this).css({backgroundPositionY: ''+y+'px'});
        // toggle rest of table
        $(this).closest('table').find('tr:not(.exporttitle)').toggle();
    },

    setupVoorstel: function(i, v) {
        // toevoegen +- knopje bij elke item
        $('tr:first-child td:first-child', v).html('<span class="minibutton">&nbsp;</span><span></span>');
        // elk knopje interactief maken
        $('.minibutton', v).click(reorderPage.onToggleVoorstel);
        // standaard ingeklapt
        $('tr:not(.exporttitle)', v).toggle();
    },
};

$(document).ready(reorderPage.init);

</script>

{% endblock %} 
