{% extends 'zues/base.html' %}
{% block terugnaarbegin %}<p>Ingelogd als {{ lid.naam }} (<a href="{% url 'zues:loguit' %}">uitloggen</a>)</p>{% endblock %}
{% block content %}
<p>
Dit is de startpagina voor het beheren van jouw voorstellen.
</p>

<p>
Elk voorstel dat je indient kun je nog wijzigen of intrekken tot de deadline.
Een voorstel is ook pas daadwerkelijk ingediend op het moment van de deadline.
</p>

<p>
Je kunt een opgeslagen voorstel aan anderen laten zien met de geheime URL van dat voorstel.
Deze URL zie je in de adresbalk van de browser als je het voorstel bekijkt.
</p>

{% if allcount %}

<h3>Alle publieke voorstellen</h3>

<fieldset>
<div class="row">
<p>Deze voorstellen zijn door de beheerders publiek zichtbaar gemaakt.</p>
</div>
{% for m in allpm %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">{{ m.format_boeknummer }} '{{m.titel}}'</a></p></div>
</div>
{% endfor %}
{% for m in allapm %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">{{ m.format_boeknummer }} '{{m.titel}}'</a></p></div>
</div>
{% endfor %}
{% for m in allorg %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">{{ m.format_boeknummer }} '{{m.titel}}'</a></p></div>
</div>
{% endfor %}
{% for m in allres %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">{{ m.format_boeknummer }} '{{m.titel}}'</a></p></div>
</div>
{% endfor %}
{% for m in allam %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">{{ m.format_boeknummer }} '{{m.titel}}'</a></p></div>
</div>
{% endfor %}
{% for m in allhr %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">{{ m.format_boeknummer }} '{{m.titel}}'</a></p></div>
</div>
{% endfor %}
</fieldset>

{% endif %}



{% if count %}

<h3>Eigen voorstellen</h3>

<fieldset>
{% for m in pm %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">PM '{{m.titel}}'</a></p></div>
{% if m.mag_wijzigen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:wijzigpm' pk=m.pk %}">wijzigen</a></p></div>
{% if m.mag_verwijderen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:verwijderpm' pk=m.pk %}">intrekken</a></p></div>
{% endif %}
{% else %}
<div class="cell" style="padding-left: 20px;"><p>definitief ingediend</p></div>
{% endif %}
</div>
{% endfor %}
{% for m in apm %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">APM '{{m.titel}}'</a></p></div>
{% if m.mag_wijzigen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:wijzigapm' pk=m.pk %}">wijzigen</a></p></div>
{% if m.mag_verwijderen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:verwijderapm' pk=m.pk %}">intrekken</a></p></div>
{% endif %}
{% else %}
<div class="cell" style="padding-left: 20px;"><p>definitief ingediend</p></div>
{% endif %}
</div>
{% endfor %}
{% for m in org %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">ORG '{{m.titel}}'</a></p></div>
{% if m.mag_wijzigen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:wijzigorg' pk=m.pk %}">wijzigen</a></p></div>
{% if m.mag_verwijderen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:verwijderorg' pk=m.pk %}">intrekken</a></p></div>
{% endif %}
{% else %}
<div class="cell" style="padding-left: 20px;"><p>definitief ingediend</p></div>
{% endif %}
</div>
{% endfor %}
{% for m in res %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">RES '{{m.titel}}'</a></p></div>
{% if m.mag_wijzigen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:wijzigres' pk=m.pk %}">wijzigen</a></p></div>
{% if m.mag_verwijderen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:verwijderres' pk=m.pk %}">intrekken</a></p></div>
{% endif %}
{% else %}
<div class="cell" style="padding-left: 20px;"><p>definitief ingediend</p></div>
{% endif %}
</div>
{% endfor %}
{% for m in am %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">AM '{{m.titel}}'</a></p></div>
{% if m.mag_wijzigen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:wijzigam' pk=m.pk %}">wijzigen</a></p></div>
{% if m.mag_verwijderen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:verwijderam' pk=m.pk %}">intrekken</a></p></div>
{% endif %}
{% else %}
<div class="cell" style="padding-left: 20px;"><p>definitief ingediend</p></div>
{% endif %}
</div>
{% endfor %}
{% for m in hr %}
<div class="row">
<div class="cell" style="min-width: 300px;"> <p><a href="{{ m.get_absolute_url }}">HR '{{m.titel}}'</a></p></div>
{% if m.mag_wijzigen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:wijzighr' pk=m.pk %}">wijzigen</a></p></div>
{% if m.mag_verwijderen %}
<div class="cell" style="padding-left:20px;"> <p><a href="{% url 'zues:verwijderhr' pk=m.pk %}">intrekken</a></p></div>
{% endif %}
{% else %}
<div class="cell" style="padding-left: 20px;"><p>definitief ingediend</p></div>
{% endif %}
</div>
{% endfor %}
</fieldset>

{% endif %}

<h3>Voorstellen indienen</h3>

<fieldset>
{% if tijden.mag_pm %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:nieuwepm' %}">Nieuwe Politieke Motie</a></p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_pm }}</p></div>
</div>
{% else %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p>Nieuwe Politieke Motie</p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_pm }}</p></div>
</div>
{% endif %}
{% if tijden.mag_apm %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:nieuweapm' %}">Nieuwe Actueel Politieke Motie</a></p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_apm }}</p></div>
</div>
{% else %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p>Nieuwe Actueel Politieke Motie</p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_apm }}</p></div>
</div>
{% endif %}
{% if tijden.mag_org %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:nieuweorg' %}">Nieuwe Organimo</a></p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_org }}</p></div>
</div>
{% else %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p>Nieuwe Organimo</p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_org }}</p></div>
</div>
{% endif %}
{% if tijden.mag_res %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:nieuweres' %}">Nieuwe Resolutie</a></p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_res }}</p></div>
</div>
{% else %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p>Nieuwe Resolutie</p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_res }}</p></div>
</div>
{% endif %}
{% if tijden.mag_am %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:nieuweam' %}">Nieuw Amendement</a></p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_am }}</p></div>
</div>
{% else %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p>Nieuw Amendement</p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_am }}</p></div>
</div>
{% endif %}
{% if tijden.mag_hr %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:nieuwehr' %}">Nieuwe HR-wijziging</a></p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_hr }}</p></div>
</div>
{% else %}
<div class="row">
<div class="cell" style="min-width: 300px;"><p>Nieuwe HR-wijziging</p></div>
<div class="cell" style="padding-left:20px;"><p>{{ tijden.deadline_hr }}</p></div>
</div>
{% endif %}
</fieldset>

{% if staff %}

<h3>Exporteren</h3>

<fieldset>
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:export' %}">Exporteren</a></p></div>
</div>
<div class="row">
<div class="cell" style="min-width: 300px;"><p><a href="{% url 'zues:reorder' %}">Reorder</a></p></div>
</div>
</fieldset>


{% endif %}

{% endblock %} 
